@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css?family=Manrope:var(--body-text-18-medium-font-weight),var(--body-text-12-semi-bold-UC-font-weight),var(--body-text-16-regular-font-weight),600,var(--body-text-18-bold-font-weight),var(--body-text-16-semibold-font-weight),var(--body-text-16-medium-font-weight),400|Abel:400|Inika:700,400|Alfa+Slab+One:400|ABeeZee:400|ADLaM+Display:400");
* {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}
html,
body {
  margin: 0px;
  height: 100%;
}
/* a blue color as a generic focus style */
button:focus-visible {
  outline: 2px solid #4a90e2 !important;
  outline: -webkit-focus-ring-color auto 5px !important;
}
a {
  text-decoration: none;
}
