:root {
  --maindark: rgba(15, 11, 12, 1);
  --mainwhite: rgba(255, 255, 255, 1);
  --shadesdark-30: rgba(183, 182, 182, 1);
  --mainprimary: rgba(122, 56, 252, 1);
  --shadesdark-15: rgba(219, 218, 219, 1);
  --mainsecondary: rgba(254, 191, 0, 1);
  --maintertiary: rgba(251, 113, 76, 1);
  --shadessecondary-15: rgba(255, 245, 217, 1);
  --shadesdark-5: rgba(243, 243, 243, 1);
  --shadesdark-60: rgba(111, 109, 109, 1);
  --shadesdark-40: rgba(159, 157, 158, 1);
  --shadesprimary-10: rgba(242, 235, 255, 1);
  --shadesdark-80: rgba(63, 60, 61, 1);
  --shadesdark-10: rgba(231, 231, 231, 1);
  --body-text-16-medium-font-family: "Manrope", Helvetica;
  --body-text-16-medium-font-weight: 500;
  --body-text-16-medium-font-size: 16px;
  --body-text-16-medium-letter-spacing: 0px;
  --body-text-16-medium-line-height: 160%;
  --body-text-16-medium-font-style: normal;
  --body-text-16-semibold-font-family: "Manrope", Helvetica;
  --body-text-16-semibold-font-weight: 600;
  --body-text-16-semibold-font-size: 16px;
  --body-text-16-semibold-letter-spacing: 0px;
  --body-text-16-semibold-line-height: 160%;
  --body-text-16-semibold-font-style: normal;
  --body-text-18-bold-font-family: "Manrope", Helvetica;
  --body-text-18-bold-font-weight: 700;
  --body-text-18-bold-font-size: 18px;
  --body-text-18-bold-letter-spacing: 0px;
  --body-text-18-bold-line-height: 160%;
  --body-text-18-bold-font-style: normal;
  --body-text-16-regular-font-family: "Manrope", Helvetica;
  --body-text-16-regular-font-weight: 400;
  --body-text-16-regular-font-size: 16px;
  --body-text-16-regular-letter-spacing: 0px;
  --body-text-16-regular-line-height: 160%;
  --body-text-16-regular-font-style: normal;
  --body-text-12-semi-bold-UC-font-family: "Manrope", Helvetica;
  --body-text-12-semi-bold-UC-font-weight: 600;
  --body-text-12-semi-bold-UC-font-size: 12px;
  --body-text-12-semi-bold-UC-letter-spacing: 0px;
  --body-text-12-semi-bold-UC-line-height: 130%;
  --body-text-12-semi-bold-UC-font-style: normal;
  --body-text-18-medium-font-family: "Manrope", Helvetica;
  --body-text-18-medium-font-weight: 500;
  --body-text-18-medium-font-size: 18px;
  --body-text-18-medium-letter-spacing: 0px;
  --body-text-18-medium-line-height: 160%;
  --body-text-18-medium-font-style: normal;
}
